doctype html 
html 
    head 
        link(rel = "stylesheet" href = "/css/general.css")
        link(rel="stylesheet" href="/css/home.css")
    body 
        div(class = "centerSquare")
        div(class = "banner")
        div(class = "info")
            p COMP 2406
            p Art Exhibition 
            p COMP 2406
        img(class = "exampleImage" src = "https://drive.google.com/uc?export=download&id=1c3PFFlcEg0KYhfm5JmBnp6O1v5UfM5gM")
        
        a(href = "/artworks") 
            h1#begin  BEGIN
            button(id = "start" type = "button") >